.myModal{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 90px;
    left: 255px;
    right: 40px;
    bottom: 50px;
    border: 1px solid rgb(48, 6, 6);
    background-image: url('https://i.imgur.com/oVKpGax.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    width: 800px;
    height: 558px;
    
    border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;

}
.myModal button{
  margin: 10px;
  width: 95px;
}
.myModal label {
  font-size: 20px;
  margin: 0px !important;
}
.btn-modal{
  display: flex;
}