.card-participant{
    display: flex;
    align-items: center;
    align-content: space-between;
    flex-direction: column;

}
.list-Participant{
    border: 3px #8c7c7c solid;
    border-radius: 30px;
    height: 100%;
    width: 50%;
    text-align: center;
    background-color: #a3697f42;
    margin: 30px;
    padding: 20px;
}
.participant-info{
    color: black;
    font-size: x-large;

}
.span-info{
    font-size: x-large;
    color:  #307689;
    text-decoration: underline;
    font-style: italic;
}
.list-participant-title{
    font-size: xxx-large;
    color: #307689;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    margin: 50px;
    text-decoration: underline;
    font-style: italic;
}

.container-partcipant-event{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;}

.title-table-participant{
    width: 250px;
}

.span-info-partc{
    font-size: 20px;
}

.pdf-btn{
    width: 200px;
    height: 50px;
    background-color: #307689;
    color: white;
    border: none;
    font-size: 23px;
    margin: 50px;
    border-radius: 10px;
}