.add-materiel{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 60px;
    justify-content: center;
}
.input-form-container{
width: 100%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
margin-bottom: 50px;
margin-top: 35px;
}
.add-materiel-labes{
    font-size: 25px;
}

.add-mat-backg{
width: 20%;
background-image: url('https://i.imgur.com/eOLORc2.png');
background-size: contain;
}


.add-materiel-form{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column; 
    width: 60%;
    
border:2px solid #EE6E73;
padding:2%;
border-radius: 15px;
margin-bottom: 5%;

}
.input-materiel{
border:2px solid #EE6E73;
height: 40px !important;
font-size: 18px !important;
width: 100%;
margin: 100px;

}
.add-materiel-title{
    font-size: 50px;
    color: #307689;
    text-align: center;
    text-decoration: underline;
    font-family: cursive;
    font-style: italic;
}
.add-media-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 35%;
}
.add-media-btn{
    width: 120px;
    background-color: transparent;
    border:1px solid #EE6E73;
    border-radius: 10px;
    
}
.add-media-btn:hover{
    background-color: white;
    border:3px solid #EE6E73;
    
}