header {
  position: relative;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}
.all{
  background: url('https://i.imgur.com/WOoJyKf.png') no-repeat center center fixed ;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.btn-auth {
  position: absolute;
  top: 83%;
  left: 8%;
  z-index: 1;
  display: flex;
  width: 17%;
}
.btn-go {
  position: absolute;
  top: 90%;
  left: 12%;
  z-index: 1;
}

button {
  margin: 1vh;
}

/* @media (pointer: coarse) and (hover: none) {
  header {
    background: url("https://source.unsplash.com/XT5OInaElMw/1600x900")
      no-repeat center center scroll;
  }
  header video {
    display: none;
  }
} */

@import url("https://imgur.com/a/di5TXfr");

/* body {
  font-family: "Nunito", sans-serif;
} */

.a {
  color: #e7484f;
}
.b {
  color: #f68b1d;
}
.c {
  color: #fced00;
}
.d {
  color: #009e4f;
}
.e {
  color: #00aac3;
}
.f {
  color: #732982;
}


.text-center {
  text-align: center;
}

.rainbow {
  background-color: lightgray;
  border-radius: 4px;
  color:#D9534F;
  cursor: pointer;
  padding: 8px 16px;
}



@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}


